@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Welcome!</h1>
        <p>Search for over 12 000 lots in over 120 auctions accros the entire Europe!</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12" align="center">
        <h1>Next auctions across Europe</h1>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12" align="center">
        <div class="row">
            <div class="col-md-4">
                <h4>End date</h4>
                <h3>13:40</h3>
                <h4>14.03.2018</h4>
            </div>
            <div class="col-md-4">
                <br />
                <a href="#"><img src="~/images/sale_logo.png" /></a>
            </div>
            <div class="col-md-4">
                <br />
                <span class="label label-info">Sealed bids</span>
                <span class="label label-default">Bucharest</span>
                <h3>123 lots</h3>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12" align="center">
        <div class="row">
            <div class="col-md-4">
                <h4>End date</h4>
                <h3>13:40</h3>
                <h4>14.03.2018</h4>
            </div>
            <div class="col-md-4">
                <br />
                <a href="#"><img src="~/images/sale_logo.png" /></a>
            </div>
            <div class="col-md-4">
                <br />
                <span class="label label-info">Sealed bids</span>
                <span class="label label-default">Bucharest</span>
                <h3>123 lots</h3>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12" align="center">
        <div class="row">
            <div class="col-md-4">
                <h4>End date</h4>
                <h3>13:40</h3>
                <h4>14.03.2018</h4>
            </div>
            <div class="col-md-4">
                <br />
                <a href="#"><img src="~/images/sale_logo.png" /></a>
            </div>
            <div class="col-md-4">
                <br />
                <span class="label label-info">Sealed bids</span>
                <span class="label label-default">Bucharest</span>
                <h3>123 lots</h3>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12" align="center">
        <div class="row">
            <div class="col-md-4">
                <h4>End date</h4>
                <h3>13:40</h3>
                <h4>14.03.2018</h4>
            </div>
            <div class="col-md-4">
                <br />
                <a href="#"><img src="~/images/sale_logo.png" /></a>
            </div>
            <div class="col-md-4">
                <br />
                <span class="label label-info">Sealed bids</span>
                <span class="label label-default">Bucharest</span>
                <h3>123 lots</h3>
            </div>
        </div>
    </div>
</div>

