@using Microsoft.AspNetCore.Identity
@using Infrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="SignOut" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="form-inline mt-2 mt-md-0">
        <span class="navbar-text">
            Hello, <span id="signedin-username">@UserManager.GetUserName(User)</span>!
        </span>
        <ul class="navbar-nav px-3">
            <li>
                <button type="submit" class="btn btn-secondary my-2 my-sm-0">Logout</button>
            </li>
        </ul>
    </form>
}