<br />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <h3>SKODA Yeti 1.8 TSI COMFORT 4X4 Manual Petrol</h3>
            <h4>160PS, 142094km, 2011</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-4 col-md-offset-2">
        <a href="#" class="thumbnail">
            <img src="https://bcamediaprod.blob.core.windows.net/public/images/vehicle/NL/98-SPR-1/152812188/310">
        </a>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Key information</div>
            <table class="table-condensed">
                <tr>
                    <td>VIN Number</td>
                    <td>2565</td>
                </tr>
                <tr>
                    <td>First Registration Date</td>
                    <td>15/11/2011 </td>
                </tr>
                <tr>
                    <td>Fuel Type</td>
                    <td>Petrol</td>
                </tr>
                <tr>
                    <td>Engine Size (cc)</td>
                    <td>1798</td>
                </tr>
                <tr>
                    <td>Number of Seats</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Colour (Generic)</td>
                    <td>White</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Interior</div>
            <table class="table-condensed">
                <tr>
                    <td>AirConditioning </td>
                </tr>
                <tr>
                    <td>Powered Windows - Front</td>
                </tr>
                <tr>
                    <td>Climate Control </td>
                </tr>
                <tr>
                    <td>Seat Covering - Leather</td>
                </tr>
                <tr>
                    <td>Seats Heating - Front</td>
                </tr>
                <tr>
                    <td>Sunroof</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Exterior</div>
            <table class="table-condensed">
                <tr>
                    <td>Rain Sensitive Windscreen Wipers </td>
                </tr>
                <tr>
                    <td>Space Saver Spare Wheel </td>
                </tr>
                <tr>
                    <td>Tow Ball - Static </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Infotainment</div>
            <table class="table-condensed">
                <tr>
                    <td>Bluetooth Telephone Interface</td>
                </tr>
                <tr>
                    <td>CD - Single</td>
                </tr>
                <tr>
                    <td>Satellite Navigation</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Engine & Technology</div>
            <table class="table-condensed">
                <tr>
                    <td>Anti-Lock Braking</td>
                </tr>
                <tr>
                    <td>Central Locking</td>
                </tr>
                <tr>
                    <td>Cruise Control</td>
                </tr>
                <tr>
                    <td>Remote Central Locking</td>
                </tr>
                <tr>
                    <td>Cruise Control </td>
                </tr>
            </table>
        </div>
    </div>
</div>