<div class="row">
    <div class="col-md-12">
        <h2>Returned 211 results</h2>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12" align="center">
        <div class="row">
            <h4>Alfa Romeo Giulietta 1.6 JTDM - Diesel - Manual - 47.300 km</h4>

            <div class="col-md-4">
                <a href="#">
                    <img src="~/images/vehicle_thumbnail.jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-4">
                <br />
                <a href="#"><img src="~/images/sale_logo.png" /></a>
            </div>
            <div class="col-md-4">
                <br />
                <span class="label label-info">Sealed bids</span>
                <span class="label label-default">Bucharest</span>
                <h3>123 lots</h3>
            </div>
        </div>
    </div>
</div>

<hr />