@using Web.ViewModels.Account

@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@section Styles {
    <link href="~/css/signin.css" rel="stylesheet" />
}

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-signin">
    <h2 class="form-signin-heading">Register a new account</h2>
    <div asp-validation-summary="All" class="text-danger"></div>

    <label asp-for="Email" class="sr-only"></label>
    <input asp-for="Email" class="form-control" placeholder="Email address" required autofocus />
    <span asp-validation-for="Email" class="text-danger"></span>

    <label asp-for="Password" class="sr-only"></label>
    <input asp-for="Password" class="form-control" placeholder="Password" required />
    <span asp-validation-for="Password" class="text-danger"></span>

    <label asp-for="ConfirmPassword" class="sr-only"></label>
    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" required />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
